<!DOCTYPE html>
<html>
<head>
  <title>今Zaifトークンはいくら?</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <meta name="description" content="世界一シンプルなZaifトークン価格情報サイト。今現在のZaifトークン価格をお知らせします。今Zaifトークンの価格は<%= @zaiftoken_price %>円です。ビットコインは高すぎるという方におすすめです。">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
