<!DOCTYPE html>
<html>
<head>
  <title>今ビットコインはいくら?</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <meta charset="UTF-8">
  <meta name="description" content="世界一シンプルなリップル(XRP)価格情報サイト。今現在のリップル価格をお知らせします。今リップルの価格は<%= @xrp_price %>円です">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
